* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#barrasuperior{
    width: 100%;
    height: 1.3vw;
    background: #1cd1b0;
    padding: 0.3vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5vw;
}
#barraheader{
    width: 100%;
    height: 5vw;
    background: #00669f;
    color: white;
    padding-top: 0.2vw;
    padding-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
}
#barraheader img{
    width: 4vw;
}
#cuerpo{
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.titulo{
    font-size: 2.5vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.5vw;
}
#login form{
    font-size: 1vw;
}
.fill{
    width:100%;
    height: 2vw;
    font-size: 0.8vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
}
.boton{
    width: 45%;
    height: 2vw;
    background-color: #1cd1b0;
    border: none;
    border-radius: 20px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}
.resetear{
    width: 45%;
    height: 2vw;
    background-color: #888888;
    border: none;
    border-radius: 20px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1vw;
    color: white;
}
.crearcuenta{
    text-align: center;
    font-size: 1vw;
}
#footer{
    width: 100%;
    height: 2.6vw;
    background: #00669f;
    font-size: 1vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}