* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#barrasuperior{
    width: 1024px;
    height: 38px;
    background: #1cd1b0;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#barraheader{
    width: 1024px;
    height: 101px;
    background: #00669f;
    padding-top: 28px;
    padding-left: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.cuadro{
    width: 300px;
    height: 529px;
    position: relative;
    display: inline-block;
    margin-top: 293px;
    margin-left: 30px;
    margin-bottom: 151px;
}
#fotos{
    width: 120px;
    height: 118;
    position: absolute;
    z-index: 1;
    left: 90px;
    top: 128px;
}
#footer{
    width: 1024px;
    height: 51px;
    background: #00669f;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 16px;
    color: white;
}
#titulos{
    padding-top: 74px;
    padding-left: 89px;
    font-size: 30px;
}
#texto{
    padding-top: 10px;
    padding-left: 16px;
    font-size: 16px;
}
#vermas{
    background: #00669f;
    width: 128.78px;
    height: 48.52px;
    margin-top: 37px;
    margin-left: 85px;
    padding-top: 15px;
    padding-left: 37px;
    color: white;
}